<p>menu works!</p>
<nav class="pc-sidebar ">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="index.html" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/assets/images/logo.svg" alt="" class="logo logo-lg">
                <img src="/assets/images/logo-sm.svg" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                    <a href="index.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
                </li>
                <li class="pc-item pc-caption">
                    <label>Convertor/Formatter</label>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a  class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">settings</i></span><span class="pc-mtext">Convertors</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" routerLink="/tempc">Temperature</a></li>
                       
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a  class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">settings</i></span><span class="pc-mtext">Formatters</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" routerLink="/jsonfmt">Json Formatter</a></li>
                       
                    </ul>
                </li>
                <li class="pc-item pc-caption">
                    <label>Misc Utitlities</label>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a  class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">settings</i></span><span class="pc-mtext">Audio&Video</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" routerLink="/maud" href="">Audio Tester</a></li>
                       
                    </ul>
                </li>
               
            </ul>
        </div>
    </div>
</nav>