<div class="row">
    <div class="col-sm-12 p-5">
        <div class="card">
            <div class="card-header">
                <h5>Colur Pallete Utilities</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs"  >
                        <li [ngbNavItem]="1">
                            <button ngbNavLink>Colour Pallete</button>
                            <ng-template ngbNavContent>
                                <input id="my-color-picker" name="my-color-picker" />
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2">
                            <button ngbNavLink>Beautified</button>
                            <ng-template ngbNavContent>
                                <pre id="json-renderer"></pre>
                            </ng-template>
                        </li>
                       
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>

</div>