<div class="row">
    <div class="col-sm-12 p-5">
        <div class="card">
            <div class="card-header">
                <h5>Temperature Convertor</h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row justify-content-center text-center mb-5">
                        <label for="formFile" class="form-label ">Celcius Scale</label>
                        <input type="range" class="form-range text-danger" min="-270" max="270" list="tempcmarks" value="0" [(ngModel)]="celcsiusVal"  (change)="CtoF()" (input)="CtoF()">
                        <span class="range-slider__value">{{celcsiusVal}}</span>
                        <datalist id="tempcmarks">
                            <option *ngFor="let val of celciusScale" value="{{val}}" [label]="(val%50)?'':val+'C'">
                            </option>
                        </datalist>
                    </div>

                    <div class="row justify-content-center text-center mb-5">
                        <label for="formFile" class="form-label ">Fahrenheit Scale</label>
                        <input type="range" class="form-range" min="-270" max="270" list="tempfmarks" value="32"  [(ngModel)]="fahrenheitVal" (change)="FtoC()" (input)="FtoC()">
                        <span class="range-slider__value">{{fahrenheitVal}}</span>
                        <datalist id="tempfmarks">
                            <option *ngFor="let val of fahrenheitScale" value="{{val}}" [label]="(val%100)?'':val+'F'">
                            </option>
                        </datalist>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <label for="formFile" class="form-label">Celcius</label>
                            <input class="form-control" type="text" (change)="CtoF()" [(ngModel)]="celcsiusVal">
                        </div>

                        <div class="col-lg-4 col-md-6 text-center  mt-4">
                            <button type="button" class="btn btn-primary justify-content-center"
                                (click)="CequalF()">C=F</button>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <label for="formFile" class="form-label">Fahrenheit</label>
                            <input class="form-control" type="text" (change)="FtoC()" [(ngModel)]="fahrenheitVal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>